.friendList {
  margin: 0 auto;
  margin-top: 10px;
  width: 540px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.friendListWrapper {
  padding: 20px;
  width: 100px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
